*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    /* font-family: 'Oleo Script'; */
    font-family:'Lato';
    font-size: 62.5%;
}
body{
    background: #fff;
  
}

header{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap:8rem;
    margin-top: 5rem;
}

.heading{
    color: red;
}

.grid-3-cols{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 8rem;
}